.profile {
    margin: 0 auto;
    width: 500px;
    box-shadow: 0px 4px 8px #d1d1d1;
    padding: 50px;
    margin-top: 200px;
    border-radius: 5px;
}

.profile h1 {
    margin-top: 50px;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
}

.info {
    padding: 50px;
}

.info p {
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.btnExcluir {
    background-color: rgb(231, 9, 9);
}

.btnExcluir:hover {
    background-color: rgb(179, 21, 21);
}

.app.escuro .profile{
    box-shadow: 0px 4px 8px #000000;
}