/* Container do formulário */
.formulario {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}


.formulario h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.formulario h1 {
    margin-bottom: 1rem;
}


.formulario p {
    color: #555;
    margin-bottom: 1.5rem;
}

.formulario a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.formulario a:hover {
    text-decoration: underline;
}

.botaoVoltar {
    margin-left: 0;
    text-align: left;
    display: block;
    font-size: large;
    font-weight: bold;
    margin-bottom: 1.8rem;
}

.botaoVoltar:hover {
    cursor: pointer;
}

.divBotao {
    display: flex;
    justify-content: space-between;
}

.btnX {
    width: 35px;
    background-color: #b6b4b4;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.btnX:hover {
    background-color: #adabab;
}