.dashboard {
    padding: 20px;
}

.dashboard h2,
.dashboard p {
    text-align: center;
}


.divBtn {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.divBtn button {
    margin: 10px;
}

.resumo-dashboard {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}