body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.app {
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    padding: 20px;
}
/* 
button {
    background-color: #0011ff !important;
} */

/* Tema Claro */
.app.claro {
    background-color: #f8f9fa;
    color: #000000;
}


/* Tema Escuro */
.app.escuro{
    background-color: #1b1b1b;
    color: #9B9B9B;
}
